= form_for [@zoo, @animal], html: { role: "form" } do |f|
  - if @animal.errors.any?
    #error_explanation
      %h2
        = pluralize(@animal.errors.count, "error")
        prohibited this animal from being saved:

      %ul
      - @animal.errors.full_messages.each do |msg|
        %li
          = msg

  .row
    .col-lg-3
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"

      .form-group
        = f.fields_for(:species) do |species_fields|
          = species_fields.label :name, "Species"
          = species_fields.text_field :name, class: "form-control"

  .actions
    = f.submit class: "btn btn-default"

:javascript
  species_list = [ #{ Species.where.not(name: nil).map{|s| '"' + s.to_s.html_safe + '"' }.join(',') } ];
  $("#animal_species_attributes_name").autocomplete({
    source: species_list
  });


